nohup.out
*.o
extras/dataset_lineasmadrid_repetidos/genera_repeticiones
extras/dataset_madrid/procesa_linesStops
extras/dataset_madrid/procesa_madrid_trips
time_allContained_byQueriesFile
time_allIntersectPPk_byQueriesFile
time_allTopoRels_byQueriesFile
TopoRel_*_test
TopoRel_GST_allContained
TopoRel_GST_allIntersectPP
TopoRel_GST_build
TopoRel_GST_check
TopoRel_GST_size
TopoRel_GST_test_allContained_byQueries
TopoRel_GST_time
TopoRel_GST_time_allContained
TopoRel_Naive_allAnswers
TopoRel_Naive_PreComp_build
TopoRel_Naive_PreComp_load
TopoRel_Naive_PreComp_save-load-test
TopoRel_Naive_allContained_byQueries
TopoRel_Naive_allIntersect_byQueries
TopoRel_Naive_allIntersectPP_byQueries
TopoRel_Naive_allContained_byQueries
TopoRel_Naive_allRelation_byQueries
TopoRel_Naive_compareTime_allContained
TopoRel_Naive_lengthQueries
TopoRel_Naive_size
TopoRel_Naive_time
