*.o
extras/dataset_lineasmadrid_repetidos/genera_repeticiones
extras/dataset_madrid/procesa_linesStops
extras/dataset_madrid/procesa_madrid_trips
size_TopoRel
test_comparaGST4constructores
test_cst_data
test_cst_rep
test_sdvector_rank_select
test_TopoRel_all_contain
time_GST45_constructores
time_TopoRel_all_contain
time_TopoRel_all_contain_GST5
time_TopoRel_boolean
TopoRel_*_test
TopoRel_GST_5_save
TopoRel_GST_5_test-save-load
TopoRel_testall
